[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gena"]
	path = gena
	url = https://github.com/cran/gena
[submodule "hpa"]
	path = hpa
	url = https://github.com/cran/hpa
[submodule "mnorm"]
	path = mnorm
	url = https://github.com/cran/mnorm
[submodule "switchSelection"]
	path = switchSelection
	url = https://github.com/cran/switchSelection
